.ion-content__divDatos {
    padding: 0 2rem;
    .divDatos__dato {
        margin: 1em;
        ion-input {
            border: 2px solid grey;
            border-radius: 10px;
            padding: 1em auto;
            text-indent: 1em;
            display: flex;
            align-items: center;
            &:focus {
                border: 2px solid lightgreen;
            }
        }
    }
    .divDatos__imagen {
        margin: 1em;
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        img {
            width: 25vw;
            height: auto;
            border-radius: 50%;
            justify-self: start;
        }
        .imagen__nombreBotones {
            display: flex;
            flex-direction: column;
        }

        .imagen__botonesAccion {
        }
    }
}
