<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Personas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Detalles de la persona</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding" id="divDatos">
    <ion-label>Id</ion-label>
    <ion-input disabled>{{ id }}</ion-input>
    <br>

    <ion-label>Nombre</ion-label>
    <ion-input disabled></ion-input>
    <br>

    <ion-label>Apellido(s)</ion-label>
    <ion-input disabled></ion-input>
    <br>

    <ion-label>Fecha de nacimiento</ion-label>
    <ion-input disabled></ion-input>
    <br>

    <ion-label>DNI</ion-label>
    <ion-input disabled></ion-input>
    <br>

    <ion-label>Email</ion-label>
    <ion-input disabled></ion-input>
    <br>

    <ion-label>Dirección</ion-label>
    <ion-input disabled></ion-input>
    <br>

    <ion-label>Código postal</ion-label>
    <ion-input disabled></ion-input>
    <br>

    <ion-label>Población</ion-label>
    <ion-input disabled></ion-input>
    <br>

    <ion-label>Provincia</ion-label>
    <ion-input disabled></ion-input>
    <br>

    <ion-label>Número de teléfono</ion-label>
    <ion-input disabled></ion-input>
    <br>
  </div>
</ion-content>
