<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Personas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabla de personas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="personas">
    <ion-card *ngFor="let documentPersona of arrayColeccionPersonas"
      (click)="selecPersona(documentPersona.id, documentPersona.data)">
      <img *ngIf="documentPersona.data.imgURL" [src]="documentPersona.data.imgURL" alt="Imagen">
      <ion-card-header>
        <ion-card-title>{{ documentPersona.data.nombre }} {{ documentPersona.data.apellidos }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ documentPersona.data.telefono }}
        <!-- Añadir botón llamar 
        <ion-button (click)="llamar(documentPersona.data.telefono)" expand="block" fill="clear" shape="round">
          Llamar
        </ion-button>-->
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/detalle/new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Personas</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="info">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Información</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>