<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Personas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabla de personas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding" id="divDatos">
    <ion-label>Nombre</ion-label>
    <ion-input [(ngModel)]="personaEditando.nombre" placeholder="Introduzca un valor..."></ion-input>
    <br>

    <ion-label>Apellido(s)</ion-label>
    <ion-input [(ngModel)]="personaEditando.apellidos" placeholder="Introduzca un valor..."></ion-input>
    <br>

    <ion-label>Fecha de nacimiento</ion-label>
    <ion-input type="date" [(ngModel)]="personaEditando.fechaNacimiento" placeholder="dd-mm-yyyy"></ion-input>
    <br>

    <ion-label>DNI</ion-label>
    <ion-input [(ngModel)]="personaEditando.dni" placeholder="Introduzca un valor..."></ion-input>
    <br>

    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="personaEditando.email" placeholder="Introduzca un valor..."></ion-input>
    <br>

    <ion-label>Dirección</ion-label>
    <ion-input [(ngModel)]="personaEditando.direccion" placeholder="Introduzca un valor..."></ion-input>
    <br>

    <ion-label>Código postal</ion-label>
    <ion-input type="number" [(ngModel)]="personaEditando.codPostal" placeholder="Introduzca un valor..."></ion-input>
    <br>

    <ion-label>Población</ion-label>
    <ion-input [(ngModel)]="personaEditando.poblacion" placeholder="Introduzca un valor..."></ion-input>
    <br>

    <ion-label>Provincia</ion-label>
    <ion-input [(ngModel)]="personaEditando.provincia" placeholder="Introduzca un valor..."></ion-input>
    <br>

    <ion-label>Número de teléfono</ion-label>
    <ion-input type="number" [(ngModel)]="personaEditando.telefono" placeholder="Introduzca un valor..."></ion-input>
    <br>
    <div style="display: flex; justify-content: center;">
      <ion-button (click)="clicBotonInsertar()">Añadir persona</ion-button>
      <ion-button (click)="clicBotonActualizar()">
        Modificar
      </ion-button>
      <ion-button (click)="clicBotonBorrar()" color="danger">
        Borrar
      </ion-button>
    </div>
  </div>


  <h1>Tabla de personas</h1>
  <table id="tablaPersonas">
    <thead>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Fecha Nac.</th>
      <th>DNI</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Cód. Postal</th>
      <th>Población</th>
      <th>Provincia</th>
      <th>Teléfono</th>
    </thead>
    <tbody>
      <tr *ngFor="let documentPersona of arrayColeccionPersonas"
        (click)="selecPersona(documentPersona.id, documentPersona.data)">
        <td>{{ documentPersona.data.nombre }}</td>
        <td>{{ documentPersona.data.apellidos }}</td>
        <td>{{ documentPersona.data.fechaNacimiento }}</td>
        <td>{{ documentPersona.data.dni }}</td>
        <td>{{ documentPersona.data.email }}</td>
        <td>{{ documentPersona.data.direccion }}</td>
        <td>{{ documentPersona.data.codPostal }}</td>
        <td>{{ documentPersona.data.poblacion }}</td>
        <td>{{ documentPersona.data.provincia }}</td>
        <td>{{ documentPersona.data.telefono }}</td>

      </tr>
    </tbody>

  </table>
</ion-content>