<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Personas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tabla de personas</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Tabla de personas</h1>
  <table id="tablaPersonas">
    <thead>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Fecha Nac.</th>
      <th>DNI</th>
      <th>Email</th>
      <th>Dirección</th>
      <th>Cód. Postal</th>
      <th>Población</th>
      <th>Provincia</th>
      <th>Teléfono</th>
    </thead>
    <tbody>
      <tr *ngFor="let documentPersona of arrayColeccionPersonas"
        (click)="selecPersona(documentPersona.id, documentPersona.data)">
        <td>{{ documentPersona.data.nombre }}</td>
        <td>{{ documentPersona.data.apellidos }}</td>
        <td>{{ documentPersona.data.fechaNacimiento }}</td>
        <td>{{ documentPersona.data.dni }}</td>
        <td>{{ documentPersona.data.email }}</td>
        <td>{{ documentPersona.data.direccion }}</td>
        <td>{{ documentPersona.data.codPostal }}</td>
        <td>{{ documentPersona.data.poblacion }}</td>
        <td>{{ documentPersona.data.provincia }}</td>
        <td>{{ documentPersona.data.telefono }}</td>

      </tr>
    </tbody>

  </table>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/detalle/new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>